{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "no-underscore-dangle": "off",
      "func-names": ["error", "never"],
      "prefer-arrow-callback": "off",
      "space-before-function-paren": ["error", "never"],
      "no-unused-expressions": "off",
      "no-await-in-loop": "off",
      "lines-between-class-members": [
        "error",
        "always",
        {
          "exceptAfterSingleLine": true
        }
      ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "test/browser"]
      }
    }
  }
}
