{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "no-underscore-dangle": ["error", { "allowAfterThis": true }],
      "no-await-in-loop": "off",
      "lines-between-class-members": [
        "error",
        "always",
        {
          "exceptAfterSingleLine": true
        }
      ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
